body {
    color: white;
    background-color: black;
}

h1 {
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-size: 37px;
    font-weight: bold;
}

p, ul, li {
    font-size: 28px;
}

button {
    font-size: 21px;
}